<div>
    <h1>Beredia ERP</h1>
    <h3>Autenticarse</h3>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput>
            <mat-icon matSuffix>person</mat-icon>
            <!-- <mat-hint>{{ authValueErrorMsg }}</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput (focus)="null" (keyup)="null" [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                {{ hidePassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <!-- <mat-hint>{{ passwordErrorMsg }}</mat-hint> -->
        </mat-form-field>

        <mat-checkbox>Recuerdame</mat-checkbox>

        <button mat-stroked-button (click)="login()" [disabled]="false" type="button">Iniciar sesión</button>
    </form>
    <a class="link" routerLink="recuperar-contraseña">¿Has olvidado la contraseña?</a>
</div>