div {
    max-width: 30vw;
    padding: 1rem;
    border: solid 1px;
    border-radius: 1rem;
    text-align: center;

    h1 {
        color: #005cbb;
        font-size: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
}
