<div>
    <h1>Recuperar contraseña</h1>
    <p>
        Introduzca su dirección de correo electrónico y se enviará un correo con las instrucciones para recuparar su
        contraseña
    </p>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput (focus)="null" (keyup)="null" type="email">
            <mat-icon matSuffix>email</mat-icon>
            <!-- <mat-hint>{{ emailErrorMsg }}</mat-hint> -->
        </mat-form-field>

        <button mat-stroked-button (click)="null" [disabled]="false" type="button">Enviar correo</button>
    </form>
    <a routerLink="/autenticacion" class="link">Ya tengo una cuenta</a>
</div>