.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #dcdcdc;

    .content-container {
        overflow: hidden;

        .center-container {
            overflow-y: auto;
            width: 90vw;
            height: 87vh;
        }
    }
}
