<div class="crud-container">

    <h3>Gestion de Colaboradores</h3>

    <button mat-icon-button matTooltip="Registrar colaborador"><mat-icon class="create-icon">add</mat-icon></button>

    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Identificador</th>
            <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Apellidos</th>
            <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>Edad</th>
            <td mat-cell *matCellDef="let employee"> {{employee.age}} </td>
        </ng-container>

        <ng-container matColumnDef="jobPosition">
            <th mat-header-cell *matHeaderCellDef>Puesto</th>
            <td mat-cell *matCellDef="let employee"> {{employee.jobPosition}} </td>
        </ng-container>

        <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef>Salario</th>
            <td mat-cell *matCellDef="let employee"> {{employee.salary}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let employee">
                <button mat-icon-button matTooltip="Digitalizar documentos">
                    <mat-icon class="file-icon">description</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Editar colaborador">
                    <mat-icon class="edit-icon">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Dar de baja colaborador">
                    <mat-icon class="delete-icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>