<div class="main-container">
    <div class="module-container">
        <div class="img-container">
            <mat-icon class="icon-module">badge</mat-icon>
        </div>

        <div class="text-container">
            <h3>Recursos Humanos</h3>
            <p>Gestión de personal y desarrollo organizacional.</p>
        </div>

        <div class="btn-container">
            <a mat-stroked-button>Entrar</a>
        </div>
    </div>

    <div class="module-container">
        <div class="img-container">
            <mat-icon class="icon-module">payments</mat-icon>
        </div>

        <div class="text-container">
            <h3>Finanzas</h3>
            <p>Control y análisis de recursos económicos.</p>
        </div>

        <div class="btn-container">
            <a mat-stroked-button>Entrar</a>
        </div>
    </div>

    <div class="module-container">
        <div class="img-container">
            <mat-icon class="icon-module">inventory_2</mat-icon>
        </div>

        <div class="text-container">
            <h3>Inventario</h3>
            <p>Monitoreo y administración de existencias.</p>
        </div>

        <div class="btn-container">
            <a mat-stroked-button>Entrar</a>
        </div>
    </div>

    <div class="module-container">
        <div class="img-container">
            <mat-icon class="icon-module">construction</mat-icon>
        </div>

        <div class="text-container">
            <h3>Soporte técnico</h3>
            <p>Asistencia y resolución de problemas.</p>
        </div>

        <div class="btn-container">
            <a mat-stroked-button>Entrar</a>
        </div>
    </div>
</div>