/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;

    // ******************** scrollbar ********************
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #d6d5d5;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #bdbdbd;
    }
    // ****************************************

    // ******************** generic tags ********************
    .link {
        transition: 0.8s;
        color: #005cbb;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }

    .link:hover {
        transition: 0.8s;
        color: #034c95;
    }

    .create-icon {
        color: #0cad78;
    }

    .edit-icon {
        color: #cc8b14;
    }

    .delete-icon {
        color: #f96c4a;
    }

    .file-icon {
        color: #567fcf;
    }

    .money-icon {
        color: #4ebb69;
    }

    .search-icon {
        color: #decd61;
    }

    .task-icon {
        color: #a9a9a9;
    }

    .check-task-icon {
        color: #8edfcf;
    }

    .crud-container {
        background-color: #fff;
        margin: 2rem;
        padding: 1rem;
        border: 0.15rem solid #dcdcdc;
        border-radius: 1rem;

        .row-container {
            display: flex;
            justify-content: space-between;
        }

        h3 {
            font-size: 1rem;
            font-weight: lighter;
            color: #b1b1b1;
        }
    }

    // ****************************************
}
