<div>
    <img (click)="navigateToHome()" src="assets/icons/beredia.svg" width="50rem">

    <ul>
        @if (router.url == '/inicio/modulos' || router.url == '/inicio/perfil') {
        <li>
            <mat-icon class="icon">list</mat-icon>
            <a routerLink="/">Módulos</a>
        </li>
        <li>
            <mat-icon class="icon">account_circle</mat-icon>
            <a routerLink="/inicio/perfil">Perfil</a>
        </li>
        }

        @if (
        router.url == '/inicio/modulos/recursos-humanos' ||
        router.url == '/inicio/modulos/recursos-humanos/colaboradores' ||
        router.url == '/inicio/modulos/recursos-humanos/vacaciones' ||
        router.url == '/inicio/modulos/recursos-humanos/viaticos' ||
        router.url == '/inicio/modulos/recursos-humanos/prestaciones' ||
        router.url == '/inicio/modulos/recursos-humanos/capacitaciones'
        ) {
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/recursos-humanos/colaboradores">Colaboradores</a>
        </li>
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/recursos-humanos/vacaciones">Vacaciones</a>
        </li>
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/recursos-humanos/viaticos">Viáticos</a>
        </li>
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/recursos-humanos/prestaciones">Prestaciones</a>
        </li>
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/recursos-humanos/capacitaciones">Capacitaciones</a>
        </li>
        }

        @if (
        router.url == '/inicio/modulos/finanzas' ||
        router.url == '/inicio/modulos/finanzas/cuentas-empleados' ||
        router.url == '/inicio/modulos/finanzas/transacciones' ||
        router.url == '/inicio/modulos/finanzas/nomina'
        ) {
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/finanzas/cuentas-empleados">Cuentas Empleados</a>
        </li>
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/finanzas/transacciones">Transacciones</a>
        </li>
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/finanzas/nomina">Nómina</a>
        </li>
        }

        @if (
        router.url == '/inicio/modulos/inventario' ||
        router.url == '/inicio/modulos/inventario/mercancia' ||
        router.url == '/inicio/modulos/inventario/proveedores'
        ) {
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/inventario/mercancia">Mercancia</a>
        </li>
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/inventario/proveedores">Proveedores</a>
        </li>
        }

        @if (
        router.url == '/inicio/modulos/kiosko' ||
        router.url == '/inicio/modulos/kiosko/tickets' ||
        router.url == '/inicio/modulos/kiosko/vacaciones' ||
        router.url == '/inicio/modulos/kiosko/viaticos'
        ) {
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/kiosko/tickets">Tickets</a>
        </li>
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/kiosko/vacaciones">Vacaciones</a>
        </li>
        <li>
            <mat-icon class="icon">disabled_by_default</mat-icon>
            <a routerLink="modulos/kiosko/viaticos">Viáticos</a>
        </li>
        }
    </ul>
</div>